Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.13
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: .venv/bin/black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: scripts/lint-githubactions.sh
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: .venv/bin/pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
        
fail_fast: false
default_stages: [pre-commit, pre-commit]

missed a static date :(
  data/responses/storyTestResponses/AUTO_ELI-580_04.json
Due: none

Tag: [ELI-580] - Flu multiple dose eligibility (#179)
  data/configs/storyTestConfigs/AUTO_ELI-580.json
  data/dynamoDB/storyTestData/AUTO_ELI-580_01.json
  data/dynamoDB/storyTestData/AUTO_ELI-580_02.json
  data/dynamoDB/storyTestData/AUTO_ELI-580_03.json
  data/dynamoDB/storyTestData/AUTO_ELI-580_04.json
  data/dynamoDB/storyTestData/AUTO_ELI-580_05.json
  data/responses/storyTestResponses/AUTO_ELI-580_01.json
  data/responses/storyTestResponses/AUTO_ELI-580_02.json
  data/responses/storyTestResponses/AUTO_ELI-580_03.json
  data/responses/storyTestResponses/AUTO_ELI-580_04.json
  data/responses/storyTestResponses/AUTO_ELI-580_05.json
Due: none

Notes added by 'git notes add'
  232c0a989e2af4891a03c0102e122e86685aa966
Due: none

new tcs for 615 and an update to consumer mapping to remove unneeded entries for tcs that were previously retired
  data/configs/consumerMappings/consumer_mapping_config.json
  data/configs/storyTestConfigs/AUTO_ELI-615-1.json
  data/configs/storyTestConfigs/AUTO_ELI-615-2.json
  data/configs/storyTestConfigs/AUTO_ELI-615-2a.json
  data/configs/storyTestConfigs/AUTO_ELI-615-3.json
  data/configs/storyTestConfigs/AUTO_ELI-615-4.json
  data/configs/storyTestConfigs/AUTO_ELI-615-5.json
  data/configs/storyTestConfigs/AUTO_ELI-615-6.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-01.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-02.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-03.json
  data/responses/storyTestResponses/AUTO_ELI-615-01.json
  data/responses/storyTestResponses/AUTO_ELI-615-02.json
  data/responses/storyTestResponses/AUTO_ELI-615-03.json
Due: none

additional config added to make sure other consumers dont affect result
  data/configs/storyTestConfigs/AUTO_ELI-615-7.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-01.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-02.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-03.json
Due: none

[ELI-686] adding fixture to scale x ray sampling
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-615] - Eli 615 active iterations (#183)
  data/configs/consumerMappings/consumer_mapping_config.json
  data/configs/storyTestConfigs/AUTO_ELI-615-1.json
  data/configs/storyTestConfigs/AUTO_ELI-615-2.json
  data/configs/storyTestConfigs/AUTO_ELI-615-2a.json
  data/configs/storyTestConfigs/AUTO_ELI-615-3.json
  data/configs/storyTestConfigs/AUTO_ELI-615-4.json
  data/configs/storyTestConfigs/AUTO_ELI-615-5.json
  data/configs/storyTestConfigs/AUTO_ELI-615-6.json
  data/configs/storyTestConfigs/AUTO_ELI-615-7.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-01.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-02.json
  data/dynamoDB/storyTestData/AUTO_ELI-615-03.json
  data/responses/storyTestResponses/AUTO_ELI-615-01.json
  data/responses/storyTestResponses/AUTO_ELI-615-02.json
  data/responses/storyTestResponses/AUTO_ELI-615-03.json
Due: none

Notes added by 'git notes add'
  07fd57de794dd3546f90fa2ed1282fc50c8d561c
Due: none

improved code TemplateEngine class
  .gitignore
  data/dynamoDB/dynamo_data_template.json
  utils/data_helper.py
  utils/data_template_resolver.py
Due: run_black, run_pyright, run_flake8

vita test file changes to prove it works
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
Due: none

removal of unneeded dto
  tests/performance_tests/test_performance_tests.py
  tests/test_in_progress.py
  tests/test_nbs_integration_tests.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/data_helper.py
  utils/placeholder_context.py
  utils/placeholder_utils.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

more refactored code
  utils/data_helper.py
  utils/placeholder_context.py
Due: run_black, run_pyright, run_flake8

more refactored code
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

a further refactor to reduce the complexity of the data template merge.
  tests/conftest.py
  tests/performance_tests/test_performance_tests.py
  utils/data_template_resolver.py
Due: run_black, run_pyright, run_flake8

sonarccloud failure updates
  utils/placeholder_utils.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

[ELI-686] adding a helper to collect, aggregate and log x ray traces
  .flake8
  tests/performance_tests/xray_query_helper.py
Due: run_black, run_pyright, run_flake8

[ELI-686] refactoring
  tests/performance_tests/test_performance_tests.py
  tests/performance_tests/xray_query_helper.py
Due: run_black, run_pyright, run_flake8

sonarqubecloud failure updates
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

sonarqubecloud failure updates
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Update: [ELI-714] - Simplify Automation Test Data (#189)
  .gitignore
  data/dynamoDB/dynamo_data_template.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  tests/conftest.py
  tests/performance_tests/test_performance_tests.py
  tests/test_in_progress.py
  tests/test_nbs_integration_tests.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/data_helper.py
  utils/data_template_resolver.py
  utils/placeholder_context.py
  utils/placeholder_utils.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  9a2d7d383fae2c20fb98643030c04fb69074b686
Due: none

RSV nhs_number changes for nbs integration users - also rationalised data files by removing unnecessary attributes
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE02.json
Due: none

commit before refactor
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

[ELI-686] pulling x ray into main test file
  tests/performance_tests/test_performance_tests.py
  tests/performance_tests/xray_query_helper.py
Due: run_black, run_pyright, run_flake8

added working time replacement code and fixed the linting by refactor
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

updated the covid test data files updated rsv with the new nhs numbers from NBS
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NE01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE02.json
Due: none

[ELI-686] condensing artefacts to one
  .github/workflows/performance_tests.yml
  tests/performance_tests/test_performance_tests.py
  tests/performance_tests/xray_query_helper.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

[ELI-686] constraining workflow
  .github/workflows/performance_tests.yml
  tests/performance_tests/validate_inputs.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

final update to the test NBS int covid users in line with their instructions
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NE01.json
Due: none

[ELI-686] comments and clean up
  tests/performance_tests/xray_query_helper.py
Due: run_black, run_pyright, run_flake8

[ELI-686] further comments
  tests/performance_tests/xray_query_helper.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-9999] - NBS Integration Test data update (#194)
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NE01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_A03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_RSV_NBS_INT_NE02.json
Due: none

Notes added by 'git notes add'
  fee3db454bf66853fda68a936273286d3284e15a
Due: none

[ELI-686] further clean up
  .github/workflows/performance_tests.yml
  tests/performance_tests/validate_inputs.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

[ELI-686] fixing reservoir size to capture all traces
  pyproject.toml
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

[ELI-686] adding package mode
  pyproject.toml
Due: none

New: [ELI-686] - Adding X-Ray metrics (#187)
  .flake8
  .github/workflows/performance_tests.yml
  pyproject.toml
  tests/performance_tests/test_performance_tests.py
  tests/performance_tests/validate_inputs.py
  tests/performance_tests/xray_query_helper.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  1424f84a0d84f977784104b326fa32fdf3e10912
Due: none

[ELI-686] moving validation till after checkout
  .github/workflows/performance_tests.yml
Due: lint-githubactions

Fix: [ELI-686] - Moving validation till after checkout (#200)
  .github/workflows/performance_tests.yml
Due: lint-githubactions
