Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.13
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: .venv/bin/black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: scripts/lint-githubactions.sh
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: .venv/bin/pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
        
fail_fast: false
default_stages: [pre-commit, pre-commit]

added test data
  data/configs/performanceTestConfigs/RSV_Config_v0_12.json
  data/configs/performanceTestConfigs/RSV_Config_v1.1.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_099.json
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

temp file for nhs numbers
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

fix
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

html output
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

performance test workflow
  .github/workflows/performance_tests.yml
Due: lint-githubactions

test performance
  .github/workflows/regression_tests.yml
Due: lint-githubactions

multiple iterations in a single config
  data/configs/storyTestConfigs/AUTO_RSV_ELI-632-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-632-2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-632-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-632-2.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-632-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-632-2.json
Due: none

added locust to poetry
  poetry.lock
  pyproject.toml
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

certs file creation for performance tests
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

report.html as artifact
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  ad1992b4b620de9a25623ac15200ee576cb7a4fb
Due: none

reused eligibility client
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

linting
  tests/performance_tests/locust.py
Due: run_black, run_pyright, run_flake8

formating
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

bugfix - trying to fix ci/cd by pinning node version
  .github/workflows/quality-checks.yml
Due: lint-githubactions

bugfix - forcing npm version via make command
  .github/workflows/quality-checks.yml
  Makefile
Due: lint-githubactions

workflow updated
  .github/workflows/performance_tests.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

Chore: [ELI-9875] - allow the consumer mapping config in preprod (#125)
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

bugfix - regenerated lockfile locally
  package-lock.json
Due: none

test commit
  .github/workflows/performance_tests.yml
Due: lint-githubactions

pre-commit fixes
  .github/workflows/my-vaccs-int-tests.yml
  .github/workflows/performance_tests.yml
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

updated the My Vaccines RSV config to v1.2 at their request
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v0_12.json
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v1.2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
Due: none

wip
  .github/workflows/performance_tests.yml
Due: lint-githubactions

revert last commit
  .github/workflows/performance_tests.yml
Due: lint-githubactions

removing unneeded pin
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Notes added by 'git notes add'
  e358e73dbf3476323b2123b4f7c619aab0b7c95d
Due: none

Chore: [ELI-632] - multiple iterations with new text (#129)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-632-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-632-2.json
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v0_12.json
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v1.2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-632-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-632-2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-632-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-632-2.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
Due: none

Notes added by 'git notes add'
  05b3c799beba99fefd4477bbf275f8f505f0e7b1
Due: none

updated the My Vaccines RSV config to v1.2 at their request
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-9999] - Ensure NBS and My Vaccs configs Remain in preprod after test runs (#130)
  Makefile
  tests/test_config.py
  tests/test_upload_consumer_configs.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  c18b36893eec14695d158fa18f67636e3c1706c1
Due: none

poetry lock
  poetry.lock
Due: none

eja - explicitly specifying secrets to be inherited in pull request job
  .github/workflows/pull_request.yml
  .github/workflows/regression_tests.yml
Due: lint-githubactions

fixed locust error report
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

headers from csv
  tests/performance_tests/locust.py
Due: run_black, run_pyright, run_flake8
