Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.13
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: .venv/bin/black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: scripts/lint-githubactions.sh
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: .venv/bin/pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
        
fail_fast: false
default_stages: [pre-commit, pre-commit]

eja - more playing around
  pyproject.toml
  utils/dynamo_helper.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

eja - further messing
  Makefile
  tests/test_preload_data.py
  utils/data_helper.py
  utils/dynamo_helper.py
Due: run_black, run_pyright, run_flake8

fix: deduplicate DynamoDB items before batch insert
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

perf: in-memory S3 config tracking to avoid redundant API calls
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

perf: consolidate pytest invocations from 7 to 2
  Makefile
  tests/test_preload_data.py
Due: run_black, run_pyright, run_flake8

linting
  tests/test_error_scenario_tests.py
  tests/test_hashing_tests.py
  utils/eligibility_api_client.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

eja - remove code smell
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

updates for my vaccines test preprod users
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_017.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_500.json
Due: none

updates for my vaccines test preprod users
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
Due: none

Chore: [ELI-0000] -trying regression test tweaks to improve performance (#145)
  .github/workflows/regression_tests.yml
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_error_scenario_tests.py
  tests/test_hashing_tests.py
  tests/test_in_progress.py
  tests/test_nbs_integration_tests.py
  tests/test_preload_data.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/data_helper.py
  utils/dynamo_helper.py
  utils/eligibility_api_client.py
  utils/s3_config_manager.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  a1f98be044361d1d843bac1925b670d72459b5e8
Due: none

Chore: [ELI-0000] - Test User Changes for my Vaccines (#146)
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_017.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_500.json
Due: none

Notes added by 'git notes add'
  81a49e8f204d1651fb29708567819d59f31b92db
Due: none

refactor
  .github/workflows/performance_tests.yml
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

refactor
  .github/workflows/performance_tests.yml
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  c8e58b2088e97347c929cd798d4ced22efca46ac
Due: none

updates for 678
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-678] - updates for 678 (#147)
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  b11d5b8582f6ab89aea5a1ebab876ebe51483274
Due: none

poetry fix
  pyproject.toml
Due: none

clean up of the workflow
  .github/workflows/performance_tests.yml
Due: lint-githubactions

sonar issues
  .github/workflows/performance_tests.yml
  tests/performance_tests/locust.py
  tests/performance_tests/log_queries.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

more sonar
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

New: [ELI-418] - Performance tests (#128)
  .github/workflows/my-vaccs-int-tests.yml
  .github/workflows/performance_tests.yml
  Makefile
  data/configs/performanceTestConfigs/RSV_Config_v0_12.json
  data/configs/performanceTestConfigs/RSV_Config_v1.1.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_099.json
  poetry.lock
  pyproject.toml
  tests/performance_tests/__init__.py
  tests/performance_tests/conftest.py
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
  tests/test_config.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  c36436b7f9ff0ed6da92f31cadd312ea4c25a8a7
Due: none

fixing make file and cleaning up loose ends
  Makefile
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

New: [ELI-418] - Performance tests (#148)
  Makefile
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  1adf713e3eb76c15c48fcb66532212369d14f1c7
Due: none

Notes added by 'git notes add'
  f4b5578f89b0dcd7b8c7681e443394579f908bcd
Due: none

eja - attempting to allow dependabot PRs to safely use repo vars and secrets
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality-checks.yml
Due: lint-githubactions

eja - sonarcube warning workaround
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

fixing make file
  Makefile
Due: none

Fix: [ELI-418] - Fixing make file (#153)
  Makefile
Due: none

Notes added by 'git notes add'
  e34330020a265b1da49a94c7497face45db93526
Due: none

Chore: [ELI-0000] - attempting to allow dependabot PRs to safely use repo vars and secrets (#152)
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Notes added by 'git notes add'
  52da02eac1a6f6a4604ddc51c314cd7ca6ce086e
Due: none
