Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: .venv/bin/black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: scripts/lint-githubactions.sh
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: .venv/bin/pyright
  language: system

run_flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system

Fix: [ELI-262] - sonar secret changes (#73)
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Notes added by 'git notes add'
  921dd7d659771493fe021c51ba3b08b09dacbf0a
Due: none

Update packages
  package-lock.json
  poetry.lock
Due: none

fix tests with invalid date format
  data/configs/storyTestConfigs/AUTO_RSV_ELI-223-06.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-223-07.json
Due: none

Fix: [ELI-262] - Update packages (#74)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-223-06.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-223-07.json
  package-lock.json
  poetry.lock
Due: none

Notes added by 'git notes add'
  6152b712764633a2ca56622562cec7d1fac65cff
Due: none

add additional test data for vita e2e NBS test cases in preprod
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_016.json
Due: none

V1.1 of campaign config for vita integration tests
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v1.1.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
Due: none

Chore: [ELI-472] - Additional data for vita NBS scenarios and new version of the config (#90)
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v1.1.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_016.json
Due: none

Notes added by 'git notes add'
  f55510938f7b1a62475fae7c223a87bb1f567fe0
Due: none

additional tests for 316 - Enhancement - Decouple ruleCode and the campaign config rule name
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-01.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-02.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-03.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-03.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-06.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-07.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-09.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-02.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-03.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-04.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-05.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-06.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-07.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-08.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-09.json
Due: none

Chore: [ELI-316] - additional tests for 316 (#98)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-01.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-02.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-03.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-316-04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-03.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-06.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-07.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-09.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-02.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-03.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-04.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-05.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-06.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-07.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-08.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-09.json
Due: none

Notes added by 'git notes add'
  872dc961bd41f7a23ca6b28bcceddbf7dbd4be7e
Due: none

Chore: [ELI-372] - ELI-372 - Support applying rules to multiple cohorts + other enhancements (#100)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-155.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-372.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-316-01.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-01.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-03.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-06.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-07.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-09.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-10.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-372-11.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-316-01.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-01.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-02.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-03.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-04.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-05.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-06.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-07.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-08.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-09.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-10.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-372-11.json
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  301893466e957b6849393dd89d7495ac1e95c896
Due: none

initial implementation of the hashing code. at the moment no hashing occurs and the final logic needs adding
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

new files to test the initial covid 19 config
  data/configs/inProgressTestConfigs/COVID_Config_v0.2WIP.json
  data/configs/inProgressTestConfigs/COVID_Config_v0.4WIP.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_001.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_002.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_003.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_004.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_005.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_006.json
  data/dynamoDB/inProgressTestData/AUTO_COVID_007.json
  data/responses/inProgressTestResponses/AUTO_COVID_001.json
  data/responses/inProgressTestResponses/AUTO_COVID_002.json
  data/responses/inProgressTestResponses/AUTO_COVID_003.json
  data/responses/inProgressTestResponses/AUTO_COVID_004.json
  data/responses/inProgressTestResponses/AUTO_COVID_005.json
  data/responses/inProgressTestResponses/AUTO_COVID_006.json
  data/responses/inProgressTestResponses/AUTO_COVID_007.json
Due: none

update to add full code to hash the NHS number
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

tided up and added some error handling
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

changes for pulling previous version of secret
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

ability to be able to use the AWSCURRENT or AWSPREVIOUS to hash the NHS number when inserting data.
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

new github action to simply run the my vaccines tests which will repopulate data
  .github/workflows/my-vaccs-int-tests.yml
  Makefile
Due: lint-githubactions

-working on new secrets_helper class -secrets retried as a fixture
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  utils/data_helper.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

removed the fixture code but implemented Secrets Manager as a class
  tests/test_vita_integration_tests.py
Due: run_black, run_pyright, run_flake8

updated my-vaccs-int-tests.yml actions file
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

fix sonar warning
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

fix sonar warning v5
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

Update: [ELI-000] - New Github Action to repopulate My Vaccs preprod data (#105)
  .github/workflows/my-vaccs-int-tests.yml
  Makefile
Due: lint-githubactions

Notes added by 'git notes add'
  d00a279ed924651d2a4b9a517fdc93d21b4791fa
Due: none

refactoring as now working as expected
  utils/data_helper.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

added function to remove aws previous
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

chnages to some of the configs which had hardcoded NHS numbers in the rules
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-11.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-14.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-17.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
Due: none

added code to deal with plain text nhs_numbers
  utils/data_helper.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

added code to deal with plain text nhs_numbers
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

removed function from data_helper.py which was moved to the SecretManager class
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

added functionality to ensure that it will work when there are no secrets. may need revisiting when hashing is fully implemented
  utils/data_helper.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

removed unsued functions
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

updated name of action
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

Update: [ELI-540] - Changes to Framework to enable NHS NUMBER HASHING (#106)
  .github/workflows/my-vaccs-int-tests.yml
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-295-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-11.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-14.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-295-17.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  tests/test_vita_integration_tests.py
  utils/data_helper.py
  utils/secrets_helper.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

Notes added by 'git notes add'
  0766235fe2ab6ae5a19929d99f166a444c09477f
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
