Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: .venv/bin/black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: scripts/lint-githubactions.sh
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: .venv/bin/pyright
  language: system

run_flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system

removed hardcodings
  tests/performance_tests/locust.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

assert based on response time
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

example log query
  tests/performance_tests/log_queries.py
Due: run_black, run_pyright, run_flake8

WIP
  tests/performance_tests/log_queries.py
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

WIP output html for performance tests.
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

WIP refactor metrics and added basic html table output.
  .github/workflows/performance_tests.yml
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

WIP
  tests/performance_tests/conftest.py
Due: run_black, run_pyright, run_flake8

WIP
  .github/workflows/performance_tests.yml
  tests/performance_tests/test_performance_tests.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

new configs updated
  data/configs/inProgressTestConfigs/RSV_Config_v2.0PlanBWIP.json
  data/configs/inProgressTestConfigs/RSV_Config_v2.0WIP.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_002.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_003.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_004.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_005.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_006.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_012.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_013.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_016.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_099.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_500.json
Due: none

adding basic index
  index.html
Due: none

linting
  pyproject.toml
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

new configs updated
  data/configs/storyTestConfigs/AUTO_RSV_ELI-651.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-651_Plan_B.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_01.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_03.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_03_Plan_B.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_06.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_07.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_09.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_10.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_11.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_12.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_099.json
  data/responses/inProgressTestResponses/AUTO_RSV_VITA_INT_500.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_01.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_02.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_03.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_03_Plan_B.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_04.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_05.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_06.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_07.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_08.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_09.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_10.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_11.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_12.json
Due: none

new configs updated again
  data/configs/storyTestConfigs/AUTO_RSV_ELI-651.json
Due: none

new configs updated again
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_03.json
Due: none

new files for NBS RSV
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7PlanBWIP.json
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7WIP.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A02.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A03.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA02.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA03.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA04.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA05.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA06.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA07.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NE01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NE02.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_A01.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_A02.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_A03.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA01.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA02.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA03.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA04.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA05.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA06.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NA07.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NE01.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_NE02.json
Due: none

Chore: [ELI-651] - Test cases for Plan A and B of MV RSV v2.0 (#139)
  data/configs/nbsIntegrationTestConfigs/NBS_COVID_Config_Spring2026_v0.2WIP.json
  data/configs/nbsIntegrationTestConfigs/NBS_COVID_Config_Spring2026_v0.2WIP_too_close.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-651.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-651_Plan_B.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_01.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_02.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_03.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_03_Plan_B.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_04.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_05.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_06.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_07.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_08.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_09.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_10.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_11.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-651_12.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_01.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_02.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_03.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_03_Plan_B.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_04.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_05.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_06.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_07.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_08.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_09.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_10.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_11.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-651_12.json
Due: none

Notes added by 'git notes add'
  c6859ca929e1787bdae6bbe9b962a7fbadc069ee
Due: none

new files for NBS RSV - update
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7PlanBWIP.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A02_Plan_B.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A03_Plan_B.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA03.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_A02_Plan_B.json
  data/responses/inProgressTestResponses/AUTO_RSV_NBS_INT_A03_Plan_B.json
Due: none

new files for NBS RSV - update 2
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A02_Plan_B.json
Due: none

new files for NBS RSV - update 3
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7PlanBWIP.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-579-1.json
Due: none

new config, data and responses for the VITA integrations tests
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_002.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_003.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_500.json
Due: none

new config, data and responses for the VITA integrations tests
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

fix to a date format test
  data/configs/storyTestConfigs/AUTO_RSV_ELI-579-1.json
Due: none

Chore: [ELI-9998] - new config, data and responses for the VITA integrations tests (#141)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-579-1.json
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_002.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_003.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_500.json
  tests/test_config.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  48067bf4c8516b939693fceca89b2f7278b6822a
Due: none

Changes for the new NBS RSV config covering ELI-670 too with plan B option
  data/configs/nbsIntegrationTestConfigs/NBS_RSV_Config_April2026_v0.7WIP.json
Due: none

Changes for the new NBS RSV config covering ELI-670 too with plan B option
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7PlanBWIP.json
  data/configs/inProgressTestConfigs/NBS_RSV_Config_April2026_v0.7WIP.json
Due: none

Changes for the new NBS RSV config covering ELI-670 too with plan B option
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A02.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_A03.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA02.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA03.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA04.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA05.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA06.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NA07.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NE01.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_NBS_INT_NE02.json
Due: none

Changes for the new NBS COVID config covering ELI-671 too with plan B option
  data/configs/nbsIntegrationTestConfigs/NBS_COVID_Config_Spring2026_v0.4PlanBWIP.json
  data/configs/nbsIntegrationTestConfigs/NBS_COVID_Config_Spring2026_v0.4WIP.json
  data/configs/nbsIntegrationTestConfigs/NBS_COVID_Config_Spring2026_v0.4WIP_too_close.json
  data/configs/nbsIntegrationTestConfigs/Previous/NBS_COVID_Config_Spring2026_v0.2WIP.json
  data/configs/nbsIntegrationTestConfigs/Previous/NBS_COVID_Config_Spring2026_v0.2WIP_too_close.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_A03_Plan_B.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA01.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA02.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA03.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA04.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA05.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA06.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NA07.json
  data/dynamoDB/nbsIntegrationTestData/AUTO_COVID_NBS_INT_NE01.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_A02.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_A03_Plan_B.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA01.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA02.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA03.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA04.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA05.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NA06.json
  data/responses/nbsIntegrationTestResponses/AUTO_COVID_NBS_INT_NE01.json
Due: none

Changes for the new NBS COVID config covering ELI-671 too with plan B option
  data/configs/nbsIntegrationTestConfigs/Previous/NBS_COVID_Config_Spring2026_v0.2WIP.json
  data/configs/nbsIntegrationTestConfigs/Previous/NBS_COVID_Config_Spring2026_v0.2WIP_too_close.json
Due: none

WIP
  tests/performance_tests/test_performance_tests.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

eja - trying regression test tweaks to improve performance
  .github/workflows/regression_tests.yml
  Makefile
  tests/conftest.py
  tests/test_error_scenario_tests.py
  tests/test_hashing_tests.py
  tests/test_in_progress.py
  tests/test_nbs_integration_tests.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/dynamo_helper.py
Due: run_black, lint-githubactions, run_pyright, run_flake8

eja - reverting makefile change
  .github/workflows/regression_tests.yml
  Makefile
Due: lint-githubactions

eja - more reversions
  utils/dynamo_helper.py
Due: run_black, run_pyright, run_flake8

eja- trying different approach
  utils/dynamo_helper.py
  utils/eligibility_api_client.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
