Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

run_black:
  name: black
  entry: .venv/bin/black .
  language: system

lint-githubactions:
  name: Lint github actions
  entry: scripts/lint-githubactions.sh
  language: system
  pass_filenames: false

run_pyright:
  name: pyright
  entry: .venv/bin/pyright
  language: system

run_flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system

Notes added by 'git notes add'
  179d509406815b173f1633095a6dd697eec9f836
Due: none

added some logging for placeholders which are not recognised
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

DO NOT APPROVE NOR MERGE
  README.md
Due: none

created test scenarios for ELI-764
  data/configs/storyTestConfigs/ELI-674_01.json
  data/configs/storyTestConfigs/ELI-674_02.json
  data/configs/storyTestConfigs/ELI-674_03.json
  data/configs/storyTestConfigs/ELI-674_04.json
  data/configs/storyTestConfigs/ELI-674_05.json
  data/configs/storyTestConfigs/ELI-674_06.json
  data/configs/storyTestConfigs/ELI-674_07.json
  data/configs/storyTestConfigs/ELI-674_08.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_01.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_02.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_03.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_04.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_05.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_06.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_07.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_08.json
  data/responses/storyTestResponses/AUTO_ELI-764_01.json
  data/responses/storyTestResponses/AUTO_ELI-764_02.json
  data/responses/storyTestResponses/AUTO_ELI-764_03.json
  data/responses/storyTestResponses/AUTO_ELI-764_04.json
  data/responses/storyTestResponses/AUTO_ELI-764_05.json
  data/responses/storyTestResponses/AUTO_ELI-764_06.json
  data/responses/storyTestResponses/AUTO_ELI-764_07.json
  data/responses/storyTestResponses/AUTO_ELI-764_08.json
Due: none

fixed sonarcloud error
  tests/performance_tests/validate_inputs.py
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

fixed an issue where a placeholder was erroring ERROR utils.placeholder_utils:placeholder_utils.py:46 Failed to resolve placeholder: RANDOM_GUID
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

fixed an issue where a placeholder was erroring ERROR utils.placeholder_utils:placeholder_utils.py:46 Failed to resolve placeholder: IGNORE_ID
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-764] - Added IterationTime to Config (and placeholder code updates) (#204)
  data/configs/storyTestConfigs/ELI-674_01.json
  data/configs/storyTestConfigs/ELI-674_02.json
  data/configs/storyTestConfigs/ELI-674_03.json
  data/configs/storyTestConfigs/ELI-674_04.json
  data/configs/storyTestConfigs/ELI-674_05.json
  data/configs/storyTestConfigs/ELI-674_06.json
  data/configs/storyTestConfigs/ELI-674_07.json
  data/configs/storyTestConfigs/ELI-674_08.json
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_01.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_02.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_03.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_04.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_05.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_06.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_07.json
  data/dynamoDB/storyTestData/AUTO_ELI-764_08.json
  data/responses/storyTestResponses/AUTO_ELI-764_01.json
  data/responses/storyTestResponses/AUTO_ELI-764_02.json
  data/responses/storyTestResponses/AUTO_ELI-764_03.json
  data/responses/storyTestResponses/AUTO_ELI-764_04.json
  data/responses/storyTestResponses/AUTO_ELI-764_05.json
  data/responses/storyTestResponses/AUTO_ELI-764_06.json
  data/responses/storyTestResponses/AUTO_ELI-764_07.json
  data/responses/storyTestResponses/AUTO_ELI-764_08.json
  tests/performance_tests/validate_inputs.py
  utils/placeholder_utils.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  f8152a40a0f0e0bd36307b33a06231ec454c45ea
Due: none

Update to the My Vaccines Integration Tests Scenarios, config file and responses to support their v2.0 testing.
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_002.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_017.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
Due: none

Update to the My Vaccines Integration Tests Scenarios, config file and responses to support their v2.0 testing.
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_003.json
Due: none

Maintenance of test data
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
Due: none

bugfix - add sonarcube missing environment variables
  .github/workflows/pull_request.yml
  .github/workflows/quality-checks.yml
Due: lint-githubactions

eja - bugfix
  .github/workflows/release.yml
Due: lint-githubactions

eja - trying to add regular way to do sonar scans
  .github/actions/perform-static-analysis/action.yaml
  .github/workflows/quality-checks.yml
  .github/workflows/release.yml
  scripts/config/sonar-project.properties
  scripts/reports/perform-static-analysis.sh
  sonar-project.properties
Due: lint-githubactions

eja - file permissions
  scripts/reports/perform-static-analysis.sh
  scripts/set_secrets.sh
Due: none

eja - further file to add
  scripts/docker/docker.lib.sh
Due: none

CHORE: [ELI-751] Added Error handling.
  utils/data_helper.py
  utils/data_template_resolver.py
  utils/dynamo_helper.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

CHORE: [ELI-751] Added Error handling performance.
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

CHORE: [ELI-751] Added Error handling locust.
  tests/performance_tests/locust.py
Due: run_black, run_pyright, run_flake8

removal of sonarqube scan until the issue is resolved by the github admins
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Chore: [ELI-651] - My vaccines RSV iteration 2 activate (#211)
  .github/workflows/quality-checks.yml
  data/configs/vitaIntegrationTestConfigs/RSV_Config_v2.0WIP_v0.2.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_017.json
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_500.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_001.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_002.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_011.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_014.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_015.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_017.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
Due: lint-githubactions

Notes added by 'git notes add'
  3f4552636120f380ae0238efba2adca418b0335c
Due: none

CHORE: [ELI-751] Added Error handling final.
  tests/performance_tests/validate_inputs.py
  tests/test_in_progress.py
  tests/test_story_tests.py
  utils/common_utils.py
Due: run_black, run_pyright, run_flake8

[ELI-619] blanket uncache for regression tests
  data/configs/consumerMappings/consumer_mapping_config.json
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

[ELI-619] adding comment
  tests/test_error_scenario_tests.py
Due: run_black, run_pyright, run_flake8

[ELI-619] removing comment
  tests/test_error_scenario_tests.py
Due: run_black, run_pyright, run_flake8

Fix: [ELI-619] - Blanket uncache for regression tests (#215)
  data/configs/consumerMappings/consumer_mapping_config.json
  tests/test_error_scenario_tests.py
  utils/data_helper.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  aac9c0ac9639da0cf48f7cf05c66f8a514ba81b5
Due: none

final updates
  data/configs/consumerMappings/perf/consumer_mapping_config.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_001.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_002.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_003.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_004.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_005.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_006.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_011.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_012.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_013.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_014.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_015.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_016.json
  data/configs/performanceTestConfigs/AUTO_RSV_VITA_INT_099.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_016.json
  tests/performance_tests/test_performance_tests.py
Due: run_black, run_pyright, run_flake8

test_upload_current_configs amended to use the integration test version of the mapping file to avoid issues with consumers in preprod
  tests/test_config.py
  tests/test_upload_consumer_configs.py
Due: run_black, run_pyright, run_flake8

forgot the mapping file
  data/configs/consumerMappings/preprod/consumer_mapping_config.json
Due: none

Update: [ELI-688] - consumer mapping file upload fix (#219)
  data/configs/consumerMappings/preprod/consumer_mapping_config.json
  tests/test_config.py
  tests/test_upload_consumer_configs.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  817b8cfe58cc2b591700be3ed69e90e55df0c08a
Due: none

added SonarQube checks back in now new token has been added
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Chore: [ELI-9999] - sonarqube checks (#220)
  .github/workflows/quality-checks.yml
Due: lint-githubactions

Notes added by 'git notes add'
  648a43b90005748f45132ec54bcd6ebe3ce9cab8
Due: none

data file changes
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_001.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_002.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_003.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_004.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_005.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_006.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_011.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_012.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_013.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_014.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_015.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_016.json
  data/dynamoDB/performanceTestData/AUTO_RSV_VITA_INT_099.json
Due: none

Path conditions:
  run_black: any of: \.py$
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
  run_pyright: any of: \.py$
  run_flake8: any of: \.py$
