Repository NHSDigital/eligibility-signposting-api-regression-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: run_black, lint-githubactions, run_pyright, run_flake8

.pre-commit-config.yaml:

default_language_version:
    python: python3.13
repos:   
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(.github)

  - repo: local
    hooks:
    - id: run_black
      name: black
      entry: .venv/bin/black .
      language: system
      types: [python]

  - repo: local
    hooks:
      - id: lint-githubactions
        name: Lint github actions
        entry: scripts/lint-githubactions.sh
        language: system
        files: ^.github
        types_or: [yaml]
        pass_filenames: false

  - repo: local
    hooks:
    - id: run_pyright
      name: pyright
      entry: .venv/bin/pyright
      language: system
      types: [python]

  - repo: local
    hooks:
    - id: run_flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
        
fail_fast: false
default_stages: [pre-commit, pre-commit]

new hashing tests add hashing test_hashing_tests.py to the Makefile
  Makefile
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

simplified new tests by using fixtures
  tests/test_hashing_tests.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-540] - Added tests for nhs number hashing (#107)
  Makefile
  tests/test_hashing_tests.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  0e06c11b23484585eb727830a4e60a38f56d353f
Due: none

new data and a couple of other fixes
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-000] - new data for vita (#108)
  data/dynamoDB/vitaIntegrationTestData/AUTO_RSV_VITA_INT_099.json
  data/responses/vitaIntegrationTestResponses/AUTO_RSV_VITA_INT_099.json
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  49c23a234111a789f2a507bf980f3cbe6745e88b
Due: none

updated and added test for ELI-584 update to secret param now DPS and AWS changes are in test environment
  tests/test_error_scenario_tests.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-584] - updated and added tests for 584 and amened a secret optional value (#109)
  tests/test_error_scenario_tests.py
  utils/secrets_helper.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  476e0d1d8d7efb8047d4ef6a1b8bcb350dfac045
Due: none

added tests for ELI-600
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-600-1.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-600-2.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-600-3.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-600-4.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-600-5.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-600-1.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-600-2.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-600-3.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-600-4.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-600-5.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-1.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-2.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-3.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-4.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-5.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-6.json
Due: none

added tests for ELI-600
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-4-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-4.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-5-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-5.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-3.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-5.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-600-6.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-2.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-3.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-4.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-5.json
Due: none

Chore: [ELI-600]- new tests for multiple-campaigns-same-target (#111)
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-4-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-4.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-5-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-600-5.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-3.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-600-5.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-2.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-3.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-4.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-600-5.json
Due: none

Notes added by 'git notes add'
  550c65576945f4f8a02ca8ad7ed52bcc126a574e
Due: none

updated code to be able to deal properly with None NHS Number in URL
  utils/eligibility_api_client.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-584] - remove nhs login header check (#112)
  tests/test_error_scenario_tests.py
  utils/eligibility_api_client.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  2eab4d13139ebaf7c36c06f6ce095d341715f730
Due: none

eja - making the my vaccs int tests action runnable in other workflows
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

updated mapping file
  data/configs/consumerMappings/test_consumer_mapping_config.json
Due: none

forgot to update the hashing tests with the nhsd-application-id header
  tests/test_hashing_tests.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  caa2a17187d37b90c37f9a7a51feccb808178a65
Due: none

added the ability to upload the consumer mapping file before the tests run
  data/configs/consumerMappings/consumer_mapping_config.json
  tests/conftest.py
  tests/test_config.py
  tests/test_error_scenario_tests.py
  tests/test_hashing_tests.py
  tests/test_in_progress.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-578] - added the ability to upload the consumer mapping file before the test (#115)
  data/configs/consumerMappings/consumer_mapping_config.json
  tests/conftest.py
  tests/test_config.py
  tests/test_error_scenario_tests.py
  tests/test_hashing_tests.py
  tests/test_in_progress.py
  tests/test_story_tests.py
  tests/test_vita_integration_tests.py
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  a8565eef149e13c2904e318e2552369576444bb5
Due: none

Update: [ELI-000] - making the my vaccs int tests action runnable in other workflows (#113)
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  9e51ad5b077383b1358285a6e035ef95797e4683
Due: none

new tests for the consumer mapping
  data/configs/consumerMappings/consumer_mapping_config.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-1.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-2.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-3.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-4.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-5.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-6.json
  data/configs/inProgressTestConfigs/AUTO_RSV_ELI-578-7.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-1.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-2.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-3.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-4.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-5.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-6.json
  data/dynamoDB/inProgressTestData/AUTO_RSV_ELI-578-7.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-1.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-2.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-3.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-4.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-5.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-6.json
  data/responses/inProgressTestResponses/AUTO_RSV_ELI-578-7.json
Due: none

temp fix for preprod
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Chore: [ELI-0000] - temp fix for preprod (#116)
  utils/s3_config_manager.py
Due: run_black, run_pyright, run_flake8

Notes added by 'git notes add'
  6dd6935f56f2075db4d01c88ec8ca63858229d26
Due: none

added new test files for the consumer mapping scenarios updated the consumer_mapping_config.json to accommodate the above
  data/configs/consumerMappings/consumer_mapping_config.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-4.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-5.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-6.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-7.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-3.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-5.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-6.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-7.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-2.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-3.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-4.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-5.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-6.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-7.json
Due: none

eli-625 making sure this workflow checks out it's own codebase
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

Fix: [ELI-625] - Fixing cross repo triggering of myVaccines test data (#118)
  .github/workflows/my-vaccs-int-tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  f067f66acf550005764090e7f3bf43a28289cd60
Due: none

Chore: [ELI-578] - consumer-mapping-test scenarios (#117)
  data/configs/consumerMappings/consumer_mapping_config.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-1.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-2.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-3.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-4.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-5.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-6.json
  data/configs/storyTestConfigs/AUTO_RSV_ELI-578-7.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-1.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-2.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-3.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-4.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-5.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-6.json
  data/dynamoDB/storyTestData/AUTO_RSV_ELI-578-7.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-1.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-2.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-3.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-4.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-5.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-6.json
  data/responses/storyTestResponses/AUTO_RSV_ELI-578-7.json
Due: none

Notes added by 'git notes add'
  1f407e16ed348a1dc095cb9d47c9be83f332719a
Due: none
